.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.2rem;

  & div {
    width: 30%;
  }
}

.distance {
  text-align: center;
}

.controls {
  text-align: right;
}
